<!DOCTYPE html>
<html>
<head>
  <title>Info Page</title>
</head>
<body>
  <h1>Form Submitted!</h1>
  <p>Name: <%= formData.username %></p>
  <p>Password: <%= formData.password %></p>
  <a href="/">Back</a>
</body>
</html>
